ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

body, html
{
	padding: 0px;
	margin: 0px;
	width: 100%;
	font-family: "Trebuchet MS", "Arial";
	background-color: #E2F0D6;
}

h1,h2,h3,h4
{
	margin: 0px;
	padding: 0px;
}

.clear
{
	clear: both;
}

header
{
	top:0;
	width: 100%;
	background-color: #44561B;
	position: fixed;
	z-index: 1;
}

	header>div
	{
		padding: 10px;
		height: 30px;
	}

		header h1
		{
			float: left;
			height: 30px;
			font-size: 25px;
			color: white;
			vertical-align: middle;
		}

		header ul
		{
			float: right;
		}

			header ul li
			{
				display:inline;
			}

#content
{
	margin: 50px auto 0;
	padding-top: 15px;
	max-width: 800px;
}

#summary
{
	border: 1px rgb(100, 100, 100);
	box-shadow: 0px 0px 6px rgb(150, 150, 150);
	background-color: white;
}

#summary>p
{
	padding:20px;
}

#projects
{
}

	#projects li
	{
		display: inline-block;
		vertical-align: top;
		width: 397px;
		box-sizing: border-box;
	}

	#projects .projectcard
	{
		position:relative;
		margin: 10px 10px 10px 0px;
		border: 1px rgb(100, 100, 100);
		box-shadow: 0px 0px 6px rgb(150, 150, 150);
		padding: 5px;
		background-color: white;
	}

	#projects li:nth-child(even) .projectcard
	{
		margin-left:10px;
		margin-right:0px;
	}

	#projects .projectdescription 
	{
		float:left;
		width: 226px;
		vertical-align: middle;
	}

	#projects .projectdescription ul li
	{
		width: auto;
		padding-bottom: 5px;
	}

	#projects .projectdescription#bing
	{
		height: 244px;
	}

	#projects .projectdescription#ecog
	{
		height: 728px;
	}

	#projects .projectdescription#objectsearch
	{
		height: 266px;
	}

	#projects .projectdescription#seniorthesis
	{
		height: 320px;
	}

	#projects .projectdescription#homepage
	{
		height: 171px;
	}

	#projects .projectimage
	{
		background-size: contain;
		background-position:center center;
		background-repeat: no-repeat;
		float: right;
		width: 150px;
		height: 200px;
		vertical-align: middle;
	}

	#projects .projectimage#bing
	{
		background-image: url(http://d1hwvnnkb0v1bo.cloudfront.net/content/art/app/icons/bing-icon.png);
	}

	#projects .projectimage#dogepack
	{
		background-image: url(http://dogepack.com/assets/img/dpsmall.png);
	}

	#projects .projectimage#illinoisphone
	{
		background-image: url(http://www.ece.illinois.edu/viewphoto.asp?id=2071);
		height: 350px;
	}

	#projects .projectimage#ecog
	{
		background-image: url(http://www.ncsa.illinois.edu/assets/img/logos_ncsa.png);
	}

	#projects .projectimage#powersoftwo
	{
		background-image: url(http://ems.music.uiuc.edu/compmusic.jpg);
	}

	#projects .projectimage#newsgen
	{
		background-image: url(http://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Yahoo%21_logo.svg/1000px-Yahoo%21_logo.svg.png);
	}

