ul
{
	list-style-type: none;
}

body, html
{
	padding: 0px;
	margin: 0px;
	width: 100%;
}

h1,h2,h3,h4
{
	margin: 0px;
	padding: 0px;
}

header
{
	top:0;
	width: 100%;
	background-color: rgb(109, 180, 199);
	position: fixed;
}

	header>div
	{
		padding: 10px;
		height: 30px;
	}

		header h1
		{
			float: left;
		}

		header ul
		{
			float: right;
		}

			header ul li
			{
				display:inline;
			}