ul
{
	list-style-type: none;
}

body, html
{
	padding: 0px;
}

header
{
	width: 100%;
	padding: 15px;
	background-color: rgb(109, 180, 199);
	position: fixed;
}

	header h1
	{
		float: left;
	}

	header ul
	{
		float: right;
	}

		header ul li
		{
			display:inline;
		}